@import url("/fonts/fontiran.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: IRANSansX;
    direction: rtl;
}
body{
    background-color: #f3f4f6;
    direction: rtl;
    
}