@import url(./assets/fonts/fontiran.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  direction: rtl;
  font-family:  IRANSansXNum , IRANSansX ;
  print-color-adjust: exact;
}
@page{
  size: auto; margin: 0mm;
}